.main
  .main-header
    .group-name
      グループ名：
      = @group.name
      .group-member
        member：
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group.id) do
      .group-edit
        Edit

  .main-message
    = render @messages

  = form_for [@group, @message] do |f|
    .main-footer
      .input-box
        .input-text
          = f.text_field :content, placeholder: "メッセージを入力", class: "form-text"
          = f.label :image, class: "form-label" do
            = icon('fas', 'image')
            = f.file_field :image, class: "form-file"
        = f.submit value: "送信", class: "form-send"