.main
  .main-header
    .group-name
      グループ名
      .group-member
        member：name
    .group-edit
      Edit

  .main-message
    .message-name
      名前
      .message-date
        2020/07/20
    .message-text
      おはよう

  = form_for [@group, @message] do |f|
    .main-footer
      .input-box
        .input-text
          = f.text_field :content, placeholder: "メッセージを入力", class: "form-text"
          = f.label :image, class: "form-label" do
            = icon('fas', 'image')
            = f.file_field :image, class: "form-file"
        = f.submit value: "送信", class: "form-send"