.side
  .side-header
    = current_user.name
    .header-icon
      = link_to "#" do
        = icon('fa', 'edit', class: 'icon' )
        %span<>
      = link_to "users/edit" do
        = icon('fa', 'cog', class: 'icon' )

  .side-main
    .group-name
      グループ名
    .group-message
      メッセージはまだありません